@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');

:root{
    --font-family: 'TASA Explorer', sans-serif;
}

.api-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.api-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-hover {
  transition: background-color 0.5s ease; /* smooth over 0.5s */
}

.custom-hover:hover {
  background-color: rgb(0, 208, 255); /* a different shade (Bootstrap purple) */
  border: solid rgb(0, 208, 255);
}

#title {
    transition: transform 1s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#title:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    
}

form input {
    max-width: 300px;
    margin: 0 auto;
}

form {
    padding: 10px;
}
